<title>My application deployed automatically</title>
  <h1 style="text-align:center;"><font face="monospace" size="40px">Hello, World! I am Deniz! And this is my search function</font></h1>
    
  <hr>

  <form action="search" method="post">
        <p style="font-family:monospace;"><b>First Name</b></p>
        <textarea name="input1" rows="10" cols="10"></textarea>
        <hr>
        <p style="font-family:monospace;"><b>Last Name</b></p>
        <textarea name="input2" rows="10" cols="10"></textarea>
        <br>
        <input type="submit">
      
         <br>
        <pre> {{result }} </pre>
        <br>
        
  </form>
